version: "3.9"

services:
  api:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: >
      uv run uvicorn clustering_api.src.main:app
      --host 0.0.0.0
      --port 8000
      --reload