version: "3.9"

services:
  api:
    platform: linux/amd64
    build: .
    volumes:
      - .:/app
    ports:
      - "4321:4321"
    command: >
      uv run uvicorn clustering_api.src.main:app
      --host 0.0.0.0
      --port 8000
      --reload